:root {
    --font-padrao: 'Montserrat', sans-serif;
    --font-titulo: 'Poppins', sans-serif;
    --cor-vermelho-escuro: #C52233;
    --cor-vermelho-profundo: #A51C30;
    --cor-vermelho-intenso: #A7333F;
    --cor-vinho-escuro: #74121D;
    --cor-vinho-profundo: #580C1F;
    --cor-branco: #FFFFFF;
  }